{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h1 class="text-center fw-bold text-decoration-underline">ABOUT</h1>
            <p class="text-center fw-bold">Top Up, Play More, Worry Less</p>
            <p>At JDTopUp, we specialize in providing fast, secure and reliable top-up services for your favorite games. Whether you're looking to purchase in-game currency, unlock exclusive features, or enhance your gameplay experience, we've got you covered</p>
            <p>With a user-friendly process and affordable prices, you can focus on enjoying your games without the hassle. Choose JDTopUp today - where gaming convenienve meets quality service.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8">
            <h1 class="text-center fw-bold text-decoration-underline">CONTACT</h1>
            <p class="text-center fw-bold">Let's connect with us 👋🏻</p>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-2"><a href="#">TWITTER</a></div>
                <div class="col-12 col-md-6 col-lg-2"><a href="#">FACEBOOK</a></div>
                <div class="col-12 col-md-6 col-lg-2"><a href="#">INSTAGRAM</a></div>
                <div class="col-12 col-md-6 col-lg-2"><a href="#">WHATSAPP</a></div>
                <div class="col-12 col-md-6 col-lg-2"><a href="#">TIKTOK</a></div>
                <div class="col-12 col-md-6 col-lg-2"><a href="#">TELEGRAM</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}