{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-5 mt-5">
    <h1 class="text-center">Welcome to <b>JD</b>TOPUP</h1>
    <p class="text-center">Top Up, Play More, Worry Less</p>

    <div class="mt-5">
        <h2>Available Games</h2>
        <div class="row mt-3 g-5">
            {% for game in games %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card text-bg-light shadow-lg">
                    {% if game.image %}
                    <img src="{{ game.image.url }}" width="300" height="250" class="card-img-top" alt="{{ game.name }}">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ game.name }}</h5>
                      <p class="card-text">{{ game.description }}</p>
                      <a href="{% url 'package' id=game.id  %}" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}