<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | JDTopUp</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
</head>
<body class="bg-light d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    {% block content %}
    {% endblock %}

    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>