{% extends 'auth/auth.html' %}

{% block content %}
<div class="card shadow-lg p-4" style="width: 32rem;">
    <h3 class="text-center mb-4">LOGIN</h3>

    {% if form.non_field_errors or form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
            
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">  
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
    </form>

    <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>
{% endblock %}